[submodule "10_src/src/wsg32_ros2"]
	path = 10_src/src/wsg32_ros2
	url = git@github.com:PhillippGery/wsg32_ros2.git
[submodule "10_src/src/gello_software"]
	path = 10_src/src/gello_software
	url = https://github.com/wuphilipp/gello_software.git
